# qf_* css used with qfo_sp_table_g4 (also defined in b-responsive-theme)
.qf_sorted_first {
    font-family: monospace;
    font-size: 70%;
    font-style: normal;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    float: left; 
}
.qf_sorted_last {
    display: inline;
    font-family: monospace;
    font-size: 46%;
    font-style: normal;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    float: left;
    color: blue;
}
.qf_sorted_delimiter {
    display: inline;
    font-family: monospace;
    font-size: 70%;
    font-style: normal;
    float: left;
}
.qf_unsorted {
    font-family: monospace;
    text-decoration: underline;
    font-size: 70%;
    font-style: normal ;
    padding: 0;
    margin: 0;
    float: left;
    color: blue;    
}
.qf_table {
    # from class grid-whole  dfcb.github.com/extra-strength-responsive-grids
    margin:0;
    clear:none;
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.qf_td_number {
    text-align: left;
}
.qf_td_nonnumber {
    text-align: right;
}
.qf_td {
    # class content-box (add actual css here)
}
.qf_td_sorted {
    # intentionally blank
}
.qf_td_unsorted {
    opacity: 0.9;
}
.qf_th_sorted {
    text-align: center;
    background-color: #eef;
}
.qf_th_unsorted {
    text-align: center;
    line-height: 90%;
}
.qf_tr_even {
    # class even grid-whole (add actual css here)
}
.qf_tr_odd {
    # class odd grid-whole (add actual css here)
}
.qf_tr_header {
    # class grid-whole (add actual css here)
    display: flex;
}

label {
    display: block;
}
input {
    margin: .5em;
}

.form-widget-error, .form-required-mark, .form-error {
	color: #c30000;
}

strong.form-required-mark {
    font-weight: inherit;
}

.form-label-error {
	font-weight: bold;
}

.form-fieldset {
	border: 0px solid #000;
}

.form-legend {
    font-weight: bold;
}

legend span { 
    display: block;
}

/* form layout for forms with divs */

.margin-form .form-required-mark {
    display: inline;
}

.margin-form .form-item-wrapper {
	clear: both;
	padding: 5px;
}	

.margin-form .form-item-wrapper .form-label {
	float: left;
	text-align: right;
	display: block;
	width: 16em;
}

.margin-form .form-item-wrapper .form-widget, .margin-form .form-button, .margin-form .form-help-text {
	display: block;
	margin-left: 17em;
}

.margin-form .form-button {
	margin-top: 1em;
}

.margin-form .form-item-wrapper .form-error, .margin-form .form-item-wrapper .form-widget-error {
	display: block;
	margin-left: 17em;
}

.vertical-form .form-required-mark {
    display: inline;
}

.vertical-form .form-item-wrapper {
	clear: both;
	padding: 8px;
}	

.vertical-form .form-item-wrapper .form-label {
	text-align: left;
	display: block;

}

.vertical-form .form-item-wrapper .form-widget{
	display: inline;

}


.inline-form div {
	display: inline;	
}


/* pages that are laid out like forms but do not use the form builder and do not have input fields*/
.margin-form-div .form-item-wrapper {
	padding-bottom: 10px;
}

.margin-form-div h1 {
	margin-left: 13.5em;
}

div.form-item-wrapper label {
  display:inline;
}
